.ion-content-style {
    font-family: 'Orbitron', Verdana, sans-serif;
    background: linear-gradient(to top, #060606, #007988); 
    color: #fff;
}
.button {
    text-align: right;
    padding: 10px;
}
.div-text {
    margin-left: 7px; 
    font-size: 14px;
}