<ion-content [fullscreen]="true" >
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="medium-transparent" class="fab-button" (click)="closeModal()">
      <ion-icon name="close" style="color: #fff;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <div class="container counter">{{ counter }}</div> -->

  <p id="text" class="container counter"  *ngIf="counter >= 1" >{{ counter }}</p>
  <div class="container" id="container" [ngClass]="grow ? 'container grow' : 'container shrink'" *ngIf="playAnimation">
    <div class="circle" [hidden]="!playAnimation"></div>

    <p id="text" style="color: #fff; font-size: 20px;">{{ labelBreathe }}</p>

    <div class="pointer-container" >
      <span class="pointer"></span>
    </div>

    <div class="gradient-circle" ></div>
  </div>

  <div>
    <ion-card class="card-style">
      <ion-grid>
        <ion-row>
          <ion-col size="3" ></ion-col>
          <ion-col size="6" class="ion-align-self-center">
            <ion-button shape="round" (click)="toggleCountdown()" *ngIf="!playAnimation" color="light" class="button-inner">Start</ion-button>
            <!-- <ion-button shape="round" (click)="toggleAnimation()" *ngIf="!playAnimation" color="light" class="button-inner">Start</ion-button> -->
            <ion-button shape="round" (click)="stopAnimation()" *ngIf="playAnimation" color="light" class="button-inner">Stop</ion-button>
            <!-- <ion-button shape="round" (click)="toggleAnimation()" *ngIf="playAnimation" color="light" class="button-inner">Stop</ion-button> -->
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="focus-text">
        {{ breath }}
      </div>
    </ion-card>
  </div>
  
</ion-content>
