<ion-content [fullscreen]="true" >
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="medium-transparent" class="fab-button" (click)="hideModal()" >
      <ion-icon name="chevron-down" style="color: #fff;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div class="control">
    <div class="background" [ngStyle]="{'background-image': 'url(' + pathImage + ')'}" ></div>
    <div class="center">
      <ion-spinner name="dots" class="spinner" *ngIf="!loaded"></ion-spinner>
    </div>
    <div class="container" *ngIf="showPlayerButtons && loaded">
      <div class="song-info ion-padding">
        <div class="song-title" *ngIf="activeTrack && categoria != 'MUSICA'">
          {{ selectedSound | translate }}
        </div>
        <span *ngIf="playListToShow && categoria == 'MUSICA'" class="label-tocando">{{ 'NOWPLAYING.TOCANDO_AGORA' | translate }}</span>
        <div class="song-title" *ngIf="activeTrack && categoria == 'MUSICA'">
          {{ labelSong | translate }}
        </div>
        <div class="artist-name" *ngIf="categoria == 'MUSICA'">
          <ion-text color="medium-contrast">{{ 'TABS.LABEL_ALBUM' | translate }} - {{ selectedSound | translate }}</ion-text>
        </div>
        <div class="artist-name" *ngIf="categoria == 'MUSICA'">
          <ion-text color="medium-contrast">{{ labelAutor | translate }}</ion-text>
        </div>
        <!-- <div class="message-alert" *ngIf="playListToShow && categoria == 'MUSICA'" >
          <p *ngFor="let list of playListToShow" >{{ list.labelSong | translate }}
          </p>
        </div> -->
        <div class="artist-name" *ngIf="categoria != 'MUSICA'">
          <ion-text color="medium-contrast">{{ labelCategoria | translate }}</ion-text>
        </div>
      </div>

      <!-- <div class="now playing" id="music" *ngIf="loaded && (playingRadio && isPlaying)"> -->
      <div class="now playing" id="music" *ngIf="loaded && playingRadio">
        <span class="bar n1">A</span>
        <span class="bar n2">B</span>
        <span class="bar n3">c</span>
        <span class="bar n4">D</span>
        <span class="bar n5">E</span>
        <span class="bar n6">F</span>
        <span class="bar n7">G</span>
        <span class="bar n8">H</span>
      </div>

      <div class="song-timeline ion-padding" *ngIf="!playingRadio">
        <ion-range #range [(ngModel)]="progress" max="100" color="success" class="range-style"></ion-range>
        <!-- <ion-range #range [(ngModel)]="progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()"></ion-range> -->
        <ion-row class="grid-no-padding ion-justify-content-between" style="color: #fff;" >
          <ion-col size="auto">
            {{ currentTimePlayer }}
          </ion-col>
          <ion-col size="auto">
            {{ totalSoundDuration }}
          </ion-col>
        </ion-row>
      </div>

      <div class="buttons ion-padding" style="text-align: center;">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-button fill="clear" (click)="presentPopover($event)" color="light" *ngIf="categoria == 'MUSICA'">
                  <ion-icon name="information-circle-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="setFavorito()" color="light" *ngIf="!playingRadio && categoria != 'MUSICA'">
                  <ion-icon name="heart-outline" *ngIf="!eFavorito" ></ion-icon>
                  <ion-icon name="heart" *ngIf="eFavorito"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
            <ion-col >
              <div>
                <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying && soundState == 'loaded'" color="light">
                  <ion-icon slot="icon-only" name="play"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="light">
                  <ion-icon slot="icon-only" name="pause" *ngIf="!playingRadio"></ion-icon>
                  <ion-icon slot="icon-only" name="stop" *ngIf="playingRadio"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
            <ion-col>
              <div *ngIf="!playingRadio">
                <ion-button fill="clear" (click)="loopPlayer(true)" *ngIf="isLooping" color="light">
                  <ion-icon name="return-up-forward-outline"></ion-icon>
                </ion-button>
            
                <ion-button fill="clear" (click)="loopPlayer(false)" *ngIf="!isLooping" color="light">
                  <ion-icon name="repeat-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>