<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="color: #fff;" (click)="myBackButton()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="position: absolute;" 
    class="card-background-page" 
    [scrollEvents]="true" (ionScroll)="logScrolling($event)" 
    [ngClass]="(_scrollDepthTriggered == true)?'nav-colored':'nav-transparent'">

    <div class="control" >
      <div class="img-style" 
        [ngStyle]="{'background-image': 'url(assets/imgs/para-voce2.webp)'}"
        [ngClass]="(_scrollDepthTriggered == true)?'hide-img':'show-img'">
        <h3 class="card-subtitle" *ngIf="selectedLanguage == 'pt'">Para seu Equilíbrio Interior</h3>
        <h3 class="card-subtitle" *ngIf="selectedLanguage == 'en'">For your Inner Balance</h3>
      </div>
    </div>

    <div id="navi" class="plan-list position-radios" *ngIf="selectedLanguage == 'pt'">
      <div class="plan-item" (click)="openEquilibrio()">
        <div class="plan-title">
          Curso EQUILIBRE-SE
        </div>
        <div class="plan-description">
          <p>
            Programa Intensivo de Equilíbrio Interior
          </p>
          <p>
            Uma nova forma de viver a vida e de enxergar o mundo ao seu redor
          </p>
          <p class="saiba-mais">Saiba mais</p>
        </div>
      </div>

      <div class="plan-item color-3" (click)="openIoga()">
        <div class="plan-title">
          Curso YOGA PARA INICIANTES
        </div>
        <div class="plan-description">
          <p>
            Descubra como a Yoga pode Mudar Sua Saúde Mental, Física e Emocional
          </p>
          <p class="saiba-mais">Saiba mais</p>
        </div>
      </div>

      <!-- <ion-card class="card-fake-style">
      </ion-card> -->

    </div>

    <div id="navi" class="plan-list position-radios" *ngIf="selectedLanguage == 'en'">
      <div class="plan-item" (click)="openHooponopono()">
        <div class="plan-title">
          Ho'oponopono Class
        </div>
        <div class="plan-description">
          <p>
            Master Authentic Ho'oponopono And Unlock The Ultimate Life Of Zero Limits
          </p>
          <p>
            Discover the cleaning and healing power of Ho'oponopono as a certified practitioner of the modern form of an age-old practice.
          </p>
          <p class="saiba-mais">Know more</p>
        </div>
      </div>
      <!-- <ion-card class="card-fake-style">
      </ion-card> -->
    </div>

</ion-content>
