<!-- <ion-header>
  <ion-toolbar>
    <ion-title>para-voce</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="title">
    Para seu Equilíbrio Interior
  </div>

  <div class="plan-list">
    <div class="plan-item" (click)="openEquilibrio()">
      <div class="plan-title">
        Curso EQUILIBRE-SE
      </div>
      <div class="plan-description">
        <p>
          Programa Intensivo de Equilíbrio Interior
        </p>
        <p>
          Uma nova forma de viver a vida e de enxergar o mundo ao seu redor
        </p>
        <p class="saiba-mais">Saiba mais</p>
      </div>
    </div>

    <div class="plan-item color-3" (click)="openIoga()">
      <div class="plan-title">
        Curso YOGA PARA INICIANTES
      </div>
      <div class="plan-description">
        <p>
          Descubra como a Yoga pode Mudar Sua Saúde Mental, Física e Emocional
        </p>
        <p class="saiba-mais">Saiba mais</p>
      </div>
    </div>

    <ion-card class="card-fake-style">
    </ion-card>

  </div>

</ion-content>
