ion-tab-bar, ion-tab-button{
  // background-color: #007988;
  // background-color: #00685b;
   }
   
   .ion-label {
       color: #ffffff;
   }

   ion-tab-button {
    // --color-selected: var(--ion-color-dark);
    --color-selected: #ffffff;
    --color: var(--ion-tab-bar-color, var(--ion-color-step-600, #80A7AC));
  }

// sobrepondo a cor do botão do player para esta tela
.ion-color-light {
    --ion-color-base: #454545 !important;
    --ion-color-base-rgb: var(--ion-color-light-rgb, 244, 245, 248) !important;
    --ion-color-contrast: var(--ion-color-light-contrast, #000) !important;
    --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb, 0, 0, 0) !important;
    --ion-color-shade: var(--ion-color-light-shade, #d7d8da) !important;
    --ion-color-tint: var(--ion-color-light-tint, #f5f6f9) !important;
}
  
.playing-bar {
  background-color: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
  border-bottom: 0.55px solid var(--ion-color-light-shade);

  border: none !important; 
  margin-bottom: 15%;

  .playing-info {
    padding: 4px 12px;
    font-size: 13px;
    line-height: 1.5;

    .device-info {
      font-size: 11px;
    }
  }
}

.button-close {
  color: #000;
  font-size: 20px;
}

ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
      --box-shadow: none;
      color: #fff;
		}
	}
	ion-tab-bar {
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		width: 100%;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: #007988;
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
			--background: #007988!important;
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		svg {    
			width: 72px;
			margin-top: 19px;
			path{
				fill:  #007988;
			}		
		}
	}
}

.div-modal-minimized {
	background-color: var(--ion-color-light)
}