<ion-tabs>
  <div class="div-modal-minimized" >
    <div class="playing-bar" (click)="showModal()" *ngIf="selectedSound != ''">
      <ion-progress-bar value="{{ porcentagemProgresso }}"></ion-progress-bar>
  
      <ion-row class="grid-no-padding ion-align-items-center">
        <ion-col size="auto" style="padding: 0;">
          <ion-thumbnail style="height: 54px; width: 54px;">
            <img src="{{ pathImage }}" alt="">
          </ion-thumbnail>
        </ion-col>
  
        <ion-col>
          <div class="playing-info">
            <div class="song-info">
              <span>{{ selectedSound | translate }}</span>
              <span> · </span>
              <span><ion-text color="medium">{{ labelCategoria | translate }}</ion-text></span>
            </div>
          </div>
        </ion-col>
  
        <ion-col size="auto">
          <ion-button fill="clear" *ngIf="!isPlaying" color="light" (click)="togglePlayer(false);$event.stopPropagation();">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
      
          <ion-button fill="clear" *ngIf="isPlaying" color="light" (click)="togglePlayer(true);$event.stopPropagation();">
            <ion-icon slot="icon-only" name="pause"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
</div>


<ion-fab vertical="bottom" horizontal="center" translucent="true">
  <ion-fab-button (click)="goToSounds()" color="fab">
    <ion-icon name="musical-notes"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tab-bar slot="bottom" class="ion-no-border">
  <ion-tab-button tab="tab1">
    <ion-icon name="leaf-outline"></ion-icon>
    <!-- <ion-label>Home</ion-label> -->
  </ion-tab-button>

  <ion-tab-button (click)="openBreath()" class="comments">
    <ion-icon name="radio-button-on-outline"></ion-icon>
    <!-- <ion-label>{{ 'TABS.RESPIRACAO' | translate }}</ion-label> -->
  </ion-tab-button>

  <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
    <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path>
  </svg>

  <ion-tab-button tab="para-voce" class="notifs">
    <ion-icon name="happy-outline"></ion-icon>
    <!-- <ion-label>notifications</ion-label> -->
  </ion-tab-button>

  <ion-tab-button tab="tab3">
    <ion-icon name="cog"></ion-icon>
    <!-- <ion-label>{{ 'AJUSTES' | translate }}</ion-label> -->
  </ion-tab-button>
</ion-tab-bar>

  <!-- <ion-tab-bar slot="bottom" class="tab-border">
    <ion-tab-button tab="tab1">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>{{ 'TABS.SONS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="radio-button-on-outline"></ion-icon>
      <ion-label>{{ 'TABS.RESPIRACAO' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cog"></ion-icon>
      <ion-label>{{ 'AJUSTES' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar> -->

</ion-tabs>

