ion-content {
    --background: linear-gradient(to top, #060606, #007988);
  }
  
  ion-toolbar {
    // --background: #007988;
    --background: none;
  }

  ion-content {
    --background: linear-gradient(to top, #060606, #007988);
}

// .title {
//     padding: 16px;
//     font-size: 22px;
//     font-weight: 700;
//     text-align: center;

//     color: #fff;
//   }
  
  .plan-list {
    padding: 16px;
  
    .plan-item {
    //   margin-bottom: 24px;
      padding: 4px;
      text-align: center;
      border-radius: 8px;
      background: linear-gradient(to bottom right, #265546, #59b277);
  
      &.color-2 {
        background: linear-gradient(to bottom right, #E69D42, #D2520B);
        // background: linear-gradient(to bottom right, #E69D42, #F67E00);
        // background: linear-gradient(to bottom right, #E69D42, #BC805B);
      }
  
      &.color-3 {
        background: linear-gradient(to bottom right, #6891BD, #403F72);
      }
  
      &.color-4 {
        background: linear-gradient(to bottom right, #263261, #6E367C);
      }
      margin-bottom: 16px;
  
    }
  
    // .plan-title {
    //   font-weight: 700;
    //   font-size: 18px;
    //   margin-bottom: 16px;
    // }
  
    .plan-description {
        font-size: 17px;
        color: #fff;
    }
  }

  .saiba-mais {
    color: #fff; 
    font-size: 20px; 
    margin-bottom: 0px;
  }

  .card-fake-style {
    background: transparent;
    height: 50px;
    top: 70%;
    box-shadow: none !important;
}

.img-style {
  --background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 30%;

  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 35%);
  
  
  // position: fixed;
  
  /* transitions */
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
  }
  .hide-img {
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1;
  }
  .show-img {
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 2;
  }
  
  .nav-colored { 
  
    transition: background-color 1s linear; 
    -moz-transition: background-color 1s linear;  
    -webkit-transition: background-color 1s linear; 
    -ms-transition: background-color 1s linear;
  
    z-index: 9999;
  }
  .nav-transparent { 
    background-color: transparent;
  
  transition: background-color 1s linear; 
   -moz-transition: background-color 1s linear;  
   -webkit-transition: background-color 1s linear; 
   -ms-transition: background-color 1s linear;
  }
  
  // #navi,
//   #navi {
//     width: 100%;
//     height: 100%;
//     position: relative;
//     left: 0;
//   }

  .control {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }


  .column {
    float: left;
    // padding: 10px;
    // height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  

  // .card-subtitle {
  //   font-size: 1.7em;
  //   position: absolute;
  //   top: 10%;
  //   width: 100%;
  //   color: #fff;
  //   text-align: center;
  // }


  // .position-radios {
  //   margin-top: 170px;
  // }