  <ion-header class="ion-no-border">
  </ion-header>

<ion-content [fullscreen]="true" class="card-background-page card">
<!-- <ion-content [fullscreen]="true"> -->

<ion-segment
  value="all"
  mode="md"
  scrollable="true"
  [(ngModel)]="segmentModel" style="background-color: #007988; border-radius: 0;" color="primary">

    <ion-segment-button value="all">
      <ion-label>{{ 'TABS.TODOS' | translate:params }}</ion-label>
    </ion-segment-button>

    <ion-segment-button value="chuva">
      <ion-label>{{ 'TABS.CATEGORIA.CHUVA' | translate:params }}</ion-label>
    </ion-segment-button>

    <ion-segment-button value="passaros">
      <ion-label>{{ 'TABS.CATEGORIA.PASSAROS' | translate:params }}</ion-label>
    </ion-segment-button>

    <ion-segment-button value="fogo">
      <ion-label>{{ 'TABS.CATEGORIA.FOGO' | translate:params }}</ion-label>
    </ion-segment-button>  

    <ion-segment-button value="vento">
      <ion-label>{{ 'TABS.CATEGORIA.VENTO' | translate:params }}</ion-label>
    </ion-segment-button> 
    
    <ion-segment-button value="energia">
      <ion-label>{{ 'TABS.CATEGORIA.ENERGIA_POSITIVA' | translate:params }}</ion-label>
    </ion-segment-button> 

    <ion-segment-button value="synthwave">
      <ion-label>{{ 'TABS.CATEGORIA.SYNTHWAVE' | translate:params }}</ion-label>
    </ion-segment-button>  

  </ion-segment>

  <ion-grid *ngIf="segmentModel === 'all'">

      <!-- <ion-row>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/P0ar8pIucRwje/giphy.gif'">
          </div>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/5torEEM8QnR95Cqg11/giphy.gif'">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/SzUtv3rO40xhu/giphy.gif'">
          </div>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/YB5Wcg2zQWSDC/giphy.gif'">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/7BsBA553QcgiA/giphy.gif'">
          </div>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/clzp5RgHabMagyQIG9/giphy.gif'">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/xfa1GclK0WaOc/giphy.gif'">
          </div>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/clzp5RgHabMagyQIG9/giphy.gif'">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/xT0xetq8fErCoByquk/giphy.gif'">
          </div>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/xUA7b5B6G21I3uKNDW/giphy.gif'">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/wKnqovL33x9in9ci6X/giphy.gif'">
          </div>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
          <div class="img-wrapper" [style.background-image]="'https://media.giphy.com/media/hSpRpdP46ETIXXWajD/giphy.gif'">
          </div>
        </ion-col>
      </ion-row> -->

    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('chuva-trovao', 1)">
          <img src="https://media.giphy.com/media/P0ar8pIucRwje/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.CHUVA_TROVOADAS' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div (click)="openMusicPlayer('chuva-calma', 2)">
          <img src="https://media.giphy.com/media/5torEEM8QnR95Cqg11/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.CHUVA_CALMA' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('passaros', 3)">
          <img src="https://media.giphy.com/media/SzUtv3rO40xhu/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.PASSAROS_LAGO' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div (click)="openMusicPlayer('passaros2', 4)">
          <img src="https://media.giphy.com/media/YB5Wcg2zQWSDC/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.PASSAROS_FLORESTA' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('fogueira', 5)">
          <img src="https://media.giphy.com/media/7BsBA553QcgiA/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FOGUEIRA' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div (click)="openMusicPlayer('ventania', 6)">
          <img src="https://media.giphy.com/media/clzp5RgHabMagyQIG9/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.VENTANIA_NO_CAMPO' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('floresta-congelada', 7)">
          <img src="https://media.giphy.com/media/xfa1GclK0WaOc/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FLORESTA_CONGELADA' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('frequencia-reconexao', 7)">
          <img src="https://media.giphy.com/media/xT0xetq8fErCoByquk/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FREQUENCIA_RECONEXAO' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div (click)="openMusicPlayer('energia-positiva-frequencia-de-432-hz', 7)">
          <img src="https://media.giphy.com/media/xUA7b5B6G21I3uKNDW/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FREQUENCIA_432' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('retro1', 7)">
          <img src="https://media.giphy.com/media/wKnqovL33x9in9ci6X/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.RETRO1' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div (click)="openMusicPlayer('retro2', 7)">
          <img src="https://media.giphy.com/media/dsd7XbYg0e6hG0A7i8/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.RETRO2' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="segmentModel === 'chuva'">
    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('chuva-trovao', 1)">
          <img src="https://media.giphy.com/media/P0ar8pIucRwje/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.CHUVA_TROVOADAS' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div (click)="openMusicPlayer('chuva-calma', 2)">
          <img src="https://media.giphy.com/media/5torEEM8QnR95Cqg11/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.CHUVA_CALMA' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('chuva-trovao', 1)" style="padding: 10px;">
          <img src="https://media.giphy.com/media/P0ar8pIucRwje/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.CHUVA_TROVOADAS' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('chuva-calma', 2)" style="padding: 10px;">
          <img src="https://media.giphy.com/media/5torEEM8QnR95Cqg11/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.CHUVA_CALMA' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row> -->

  </ion-grid>
  <ion-grid *ngIf="segmentModel === 'passaros'">
    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('passaros', 3)">
          <img src="https://media.giphy.com/media/SzUtv3rO40xhu/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.PASSAROS_LAGO' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div (click)="openMusicPlayer('passaros2', 4)">
          <img src="https://media.giphy.com/media/YB5Wcg2zQWSDC/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.PASSAROS_FLORESTA' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('passaros', 3)" style="padding: 10px;">
          <img src="https://media.giphy.com/media/SzUtv3rO40xhu/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.PASSAROS_LOWERCASE' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('passaros2', 4)" style="padding: 10px;">
          <img src="https://media.giphy.com/media/YB5Wcg2zQWSDC/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.PASSAROS_FLORESTA' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-grid *ngIf="segmentModel === 'fogo'">
    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('fogueira', 5)">
          <img src="https://media.giphy.com/media/7BsBA553QcgiA/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FOGUEIRA' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('fogueira', 5)" style="padding: 10px;">
          <img src="https://media.giphy.com/media/7BsBA553QcgiA/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FOGUEIRA' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-grid *ngIf="segmentModel === 'vento'">
    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('ventania', 6)">
          <img src="https://media.giphy.com/media/clzp5RgHabMagyQIG9/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.VENTANIA_NO_CAMPO' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div (click)="openMusicPlayer('floresta-congelada', 7)">
          <img src="https://media.giphy.com/media/xfa1GclK0WaOc/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FLORESTA_CONGELADA' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('ventania', 6)" style="padding: 10px;">
          <img src="https://media.giphy.com/media/clzp5RgHabMagyQIG9/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.VENTANIA_NO_CAMPO' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('floresta-congelada', 7)" style="padding: 10px;">
          <img src="https://media.giphy.com/media/xfa1GclK0WaOc/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FLORESTA_CONGELADA' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-grid *ngIf="segmentModel === 'energia'">
    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('frequencia-reconexao', 7)">
          <img src="https://media.giphy.com/media/xT0xetq8fErCoByquk/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FREQUENCIA_RECONEXAO' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div (click)="openMusicPlayer('energia-positiva-frequencia-de-432-hz', 7)">
          <img src="https://media.giphy.com/media/xUA7b5B6G21I3uKNDW/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FREQUENCIA_432' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('frequencia-reconexao', 7)">
          <img src="https://media.giphy.com/media/xT0xetq8fErCoByquk/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FREQUENCIA_RECONEXAO' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('frequencia-reconexao', 7)" style="padding: 10px;">
          <img src="https://media.giphy.com/media/xUA7b5B6G21I3uKNDW/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.FREQUENCIA_RECONEXAO' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-grid *ngIf="segmentModel === 'synthwave'">
    <ion-row>
      <ion-col col-6>
        <div (click)="openMusicPlayer('retro1', 7)">
          <img src="https://media.giphy.com/media/wKnqovL33x9in9ci6X/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.RETRO1' | translate:params }}</div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div (click)="openMusicPlayer('retro2', 7)">
          <img src="https://media.giphy.com/media/dsd7XbYg0e6hG0A7i8/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.RETRO2' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('retro1', 6)" style="padding: 10px;">
          <img src="https://media.giphy.com/media/wKnqovL33x9in9ci6X/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.RETRO1' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div (click)="openMusicPlayer('retro2', 7)" style="padding: 10px;">
          <img src="https://media.giphy.com/media/hSpRpdP46ETIXXWajD/giphy.gif" class="thumbnail-card-style"/>
          <div class="title-style">{{ 'TABS.RETRO2' | translate:params }}</div>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
