<ion-header class="ion-no-border">
</ion-header>

<ion-content [fullscreen]="true" class="card-background-page card">
<div class="margin-style">
  <ion-segment
    value="ALL"
    mode="md"
    scrollable="true"
    [(ngModel)]="segmentModel"
    class="segment-style" color="primary">

    <ion-segment-button value="ALL">
      <ion-label>{{ 'TABS.TODOS' | translate }}</ion-label>
    </ion-segment-button>

    <ion-segment-button *ngFor="let segment of uniqueObjectLabelSound" value="{{ segment.categoria }}" id="{{ segment.categoria }}"
      (click)="getSegmentByCategory(segment.categoria); setFocusSegment(segment.categoria)">
      <ion-label>{{ segment.labelCategoria | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

<ion-grid *ngIf="segmentModel === 'ALL'">
  <ion-row>
    <ion-col size="6" *ngFor="let item of objectSound | slice:0:slice">
      <div (click)="openMusicPlayer(item.soundValue)">
        <img src="{{ item.pathImageJPG }}" class="thumbnail-card-style"/>
        <div class="label-item-novo" *ngIf="item.novo"><span class="span-novo">{{ 'HOME.NOVO_SOM' | translate }}</span></div>
        <div class="title-style">{{ item.labelName | translate }}</div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let i of objectSegmentSound">
      <div *ngIf="segmentModel === i.categoria" (click)="openMusicPlayer(i.soundValue)">
        <img src="{{ i.pathImageJPG }}" class="thumbnail-card-style"/>
        <div class="title-style">{{ i.labelName | translate }}</div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>

<ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->

</ion-content>
