<ion-header class="ion-no-border">
</ion-header>

<ion-content [fullscreen]="true" class="card-background-page card">
<div class="margin-style">
  <ion-segment
    value="ALL"
    mode="md"
    scrollable="true"
    [(ngModel)]="segmentModel"
    class="segment-style" color="primary" style="text-transform: none;">

    <ion-segment-button value="ALL">
      <ion-label>{{ 'TABS.TODOS' | translate }}</ion-label>
    </ion-segment-button>

    <ion-segment-button *ngFor="let segment of uniqueObjectLabelSound" value="{{ segment.categoria }}" id="{{ segment.categoria }}"
      (click)="getSegmentByCategory(segment.categoria); setFocusSegment(segment.categoria)">
      <ion-label>{{ segment.labelCategoria | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="segmentModel === 'ALL'">
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let item of objectSound | slice:0:slice">
        <div class="img-wrapper" [style.background-image]="'url(\'' + item.pathImageJPG + '\')'" 
          (click)="openMusicPlayer(item.soundValue, item.categoria, item.albumValue)">
          <img class="ribbon" src="assets/imgs/new.png" *ngIf="item.novo">
          <div class="title-style label-album" text-center *ngIf="item.categoria == 'MUSICA'">{{ 'TABS.LABEL_ALBUM' | translate }} - </div>
          <div class="title-style" text-center >{{ item.labelName | translate }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let i of objectSegmentSound  | slice:0:slice">
        <div class="img-wrapper" [style.background-image]="'url(\'' + i.pathImageJPG + '\')'" 
          (click)="openMusicPlayer(i.soundValue, i.categoria, i.albumValue)" *ngIf="segmentModel === i.categoria">
          <div class="title-style label-album" text-center *ngIf="i.categoria == 'MUSICA'">Album - </div>
          <div class="title-style" text-center>{{ i.labelName | translate }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" class="spinner">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
