<ion-header no-border>
    <ion-title style="text-align: left;">
        <img height="60" src="assets/imgs/logo.png" class="logo-position">
    </ion-title>
    
    <!-- <p class='anim-circle'>diaphragmatic animation</p> -->
  </ion-header>
  
  <ion-content [fullscreen]="true" style="position: absolute;">
    
  <!-- <div class="background-container" *ngIf="!dia" >
    <img src="/assets/imgs/moon.png" alt="" class="lua-img">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
  </div> -->

  <!-- <div class="control"> -->
    <!-- <div class="background" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}"></div> -->

    <!-- <div class="circle">
      <div class="date-time-div">
        <div>{{ agora | date: 'HH:mm' }}</div>
        <div>{{ agora | date: 'dd' }} de {{ mesAtual }}</div>
      </div>
    </div> -->
  <!-- </div> -->

  <div class="control" >
    <div>
      <div class="frase-do-dia">
        "{{ fraseHoje }}"
        <p class="autorStyle">{{ autorHoje }}</p>
      </div>
    </div>
    <!-- <img src="/assets/imgs/home-day.jpg" class="container"> -->
    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>
    
    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>
    
    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>
    
    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div>
    <div class="bird-container bird-container--five">
      <!-- <div class="bird bird--five"></div> -->
    </div>
  </div>

</ion-content>