<ion-header class="ion-no-border">
</ion-header>

<ion-content [fullscreen]="true" style="position: absolute;" 
    class="card-background-page" 
    [scrollEvents]="true" (ionScroll)="logScrolling($event)" 
    [ngClass]="(_scrollDepthTriggered == true)?'nav-colored':'nav-transparent'">

  <div class="control">
    <div class="img-style" 
      [ngStyle]="{'background-image': 'url(assets/imgs/fav.webp)'}"
      [ngClass]="(_scrollDepthTriggered == true)?'hide-img':'show-img'">
      <h3 class="card-subtitle">{{ 'TABS.FAVORITOS' | translate }}</h3>
    </div>
  </div>

  <div id="navi" class="position-radios" *ngIf="favoritosList">
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let item of favoritosList | slice:0:slice">
          <div class="img-wrapper" [style.background-image]="'url(\'' + item.pathImageJPG + '\')'" (click)="openMusicPlayer(item.soundValue)">
            <div class="title-style" text-center>{{ item.labelName | translate }}</div>
          </div>
          <div class="remove-favorito" (click)="removeFavorito(item.soundValue);$event.stopPropagation();">
            <span class="span-novo">
              <ion-icon name="trash-outline"></ion-icon>
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="card-fake-style"></ion-card>
  </div>
  <div *ngIf="favoritosList == null" class="lista-vazia"><h6>{{ 'FAVORITOS_LIST.LISTA_VAZIA' | translate }}</h6></div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" class="spinner">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
