// ion-content {
//     --background: none;
//     background-image: url('/assets/imgs/home-bg.jpg');
//     background-position: center top;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// ion-content, ion-list, ion-item {
//     --background: var(--ion-color-dark);
//     --ion-background-color: var(--ion-color-dark);
// }

// ion-toolbar {
//     --background: transparent;
//     --ion-color-base: transparent !important;
// }

// ion-header {
//     display: block;
//     position: unset;
//     -ms-flex-order: -1;
//     order: -1;
//     width: 100%;
//     z-index: 10;
// }


// .fullscreen-bg {
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     overflow: hidden;
//     z-index: -100;
// }


.avatar {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/82/8d/9c/828d9ce86050123bd1ec659604fab945.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
    margin: 0 auto;
    border: 2px solid #f1f1f1;
    box-shadow: 0 0 5px #999;
  }
  
  .play-pause-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 10px #999;
    font-size: 2.3em;
    border-radius: 50%;
  }
  
  .skip-btn {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px #999;
  }